body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #10141e;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2 {
  font-size: 32px;
  line-height: 40.32px;
  letter-spacing: -0.5;
  font-weight: 300;
}

@media (max-width: 1064px) {
  h2 {
    font-size: 20px;
    line-height: 25.2px;
    letter-spacing: -0.32px;
  }
}
